<!DOCTYPE html>
<html>
	<head>
		<title> testing the web pasge name </title>
	</head>
	<body bgcolor="lime">
		<center><h1> welcome to the wheather website</h1></center>
		<center>
			<h2> Ip status : {{status}}</h2>
			<h2> Country : {{country}} </h2>
			<h2> Country code : {{countryCode}} </h2>
			<h2> Region : {{region}} </h2>
			<h2> Region Name : {{regionName}} </h2>
			<h2> city : {{city}} </h2>
			<h2> Zip code: {{zipcode}} </h2>
			<h2> Latitude : {{lat}} </h2>
			<h2> Longitude : {{lon}} </h2>
			<h2> TimeZone : {{timezone}} </h2>
			<h2> ISP : {{isp}} </h2>
			<h2> Organization : {{org}} </h2>
			<h2> Assure : {{assure}} </h2>
			<h2> Query : {{query}} </h2>

		</center>
	</body>
</html>
